* {
    background-color: black;
    color: white;
}

h1{
  display: flex;
  justify-content: center;
}

.image-grid-container {
    display: flex;
    justify-content: center;
    background-color: blue;
  }
  
.image-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
.image-grid-item {
    width: 250px;
    height: 250px;
    margin: 20px 20px;
    background-color: teal;
}

#footer{
  background-color: brown;
}

#footer img{
  width: 20%;
  height: 20%;
}