body {
    background-color: black;
    color: white;
}

#page{
  display: flex;
  justify-content: flex-end;
}

h1{
  display: flex;
  justify-content: center;
}

.image-grid-container {
    display: flex;
    justify-content: center;
  }
  
.image-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  

.image-grid-item img{
  width: 250px;
  height: auto;
  padding: 10px;
}

#repos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
}


#footer #email{
  display: flex;
  align-items: flex-start;
  align-items: center;
}
#footer #email p{
  padding-left: 5px;
  font-size: 25px;
}

#footer #email img{
  width: 100px;
  height: auto;
  display: flex;
  align-items: flex-start;
}

#footer #links img{
  width: 100px;
  height: auto;
}